:root {
    --blue: #0174BE;
    --yellow: #FFC436;
    --black: #0C0C0C;
    --white: #FAFAFA;
    --grey: #EBEBEB;
}

* {
    padding: 0;
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: minmax(100px, 15%) minmax(200px, 85%);
    grid-template-rows: 16% 84%;
}

#sidebar {
    background-color: var(--blue);
    color: var(--white);
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#sidebar h2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

#sidebar li {
    list-style-type: none;
    padding-bottom: 10px;
}

#header {
    background-color: var(--white);
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

}

#main {
    background-color: var(--grey);
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}