:root {
    --blue: #0174BE;
    --yellow: #FFC436;
    --black: #0C0C0C;
    --white: #FAFAFA;
    --grey: #EBEBEB;
}

* {
    padding: 0;
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: 15fr 85fr;
    grid-template-rows: 200px auto;
    align-items: stretch;
}

#sidebar {
    background-color: var(--blue);
    color: var(--white);
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#sidebar h2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

#sidebar li {
    list-style-type: none;
    padding-bottom: 10px;
}

#sidebar a {
    color: var(--white);
    text-decoration: none;
}

#sidebar a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#header {
    background-color: var(--white);
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-wrap: wrap;
}

#profile-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
}

#profile-top input {
    background-color: var(--grey);
    border: none;
    border-radius: 5px;
    width: 90%;
    height: 30px;
}

#profile-top img {
    width: 40px;
}

#search-bar {
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 60%;
}

#search-bar i {
    padding-right: 15px;
}

#profile-settings {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    width: 30%;
}

#profile-settings img {
    padding: 0px 20px;
}

#profile-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 10px 15px;
    width: 100%;
}

#profile-bottom img {
    width: 60px;
    height: 60px;
    padding-right: 15px;
}

#profile-bottom span {
    font-size: 16px;
}

#welcome-message {
    display: flex;
}

#header-buttons button {
    background-color: var(--blue);
    border: none;
    color: var(--white);
    padding: 5px 20px;
    margin-left: 15px;
    border-radius: 15px;
    font-size: 16px;
}

#header-buttons button:hover {
    cursor: pointer;
}

#main {
    background-color: var(--grey);
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    padding: 0px 30px 30px 30px;
}

#projects {
    grid-row: 1 / span 2;
}

#projects h3 {
    padding-top: 20px;
}

#project-grid {
    display: grid;
    height: 95%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row: 1 / span 2;
    gap: 15px;
    padding: 15px 15px 0px 0px;
    grid-auto-rows: repeat(auto-fit, minmax(200px, 1fr));
}

.project {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-icons {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 30px;
    width: 100%;
}

.project-icons i {
    padding-left: 10px;
}

#announcements {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

#announcements h3 {
    padding: 20px 0px 15px 0px;
}

#announcements h4 {
    padding-top: 10px;
}

#announcements p {
    padding-bottom: 10px;
}

#announcement-blocks {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white);
}

#trending {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#trending h3 {
    padding: 20px 0px 15px 0px;
}

#trending-profiles {
    background-color: var(--white);
    border-radius: 10px;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.trending-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending-profile img {
    width: 50px;
    margin-right: 10px;
}