:root {
    --blue: #0174BE;
    --yellow: #FFC436;
    --black: #0C0C0C;
    --white: #FAFAFA;
    --grey: #EBEBEB;
}

* {
    padding: 0;
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: minmax(100px, 15%) minmax(200px, 85%);
    grid-template-rows: 16% 84%;
}

#sidebar {
    background-color: var(--blue);
    color: var(--white);
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#sidebar h2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

#sidebar li {
    list-style-type: none;
    padding-bottom: 10px;
}

#header {
    background-color: var(--white);
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
}

#profile-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
}

#profile-top input {
    background-color: var(--grey);
    border: none;
    border-radius: 5px;
    width: 90%;
    height: 30px;
}

#profile-top img {
    width: 40px;
}

#search-bar {
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 60%;
}

#search-bar i {
    padding-right: 15px;
}

#profile-settings {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    width: 30%;
}

#profile-settings img {
    padding: 0px 20px;
}

#profile-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 10px 15px;
    width: 100%;
}

#profile-bottom img {
    width: 60px;
    height: 60px;
    padding-right: 15px;
}

#profile-bottom span {
    font-size: 16px;
}

#welcome-message {
    display: flex;
}

#header-buttons button {
    background-color: var(--blue);
    border: none;
    color: var(--white);
    padding: 5px 20px;
    margin-left: 15px;
    border-radius: 15px;
    font-size: 16px;
}

#main {
    background-color: var(--grey);
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 75% 25%;
}